<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Show" formControlName="Show">
            <mat-error *ngIf="addressForm.controls['Show'].hasError('required')">
              Show is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Movie" formControlName="Movie">
            <mat-error *ngIf="addressForm.controls['Movie'].hasError('required')">
              Movie is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div> -->
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="movie" formControlName="movie">
              <mat-option *ngFor="let movie of movies" [value]="movie.value">
                {{ movie.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['movie'].hasError('required')">
              Movie is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Row" formControlName="Row">
            <mat-error *ngIf="addressForm.controls['Row'].hasError('required')">
              Row is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Column" formControlName="Column">
            <mat-error *ngIf="addressForm.controls['Column'].hasError('required')">
              Column is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="user" formControlName="user">
              <mat-option *ngFor="let user of users" [value]="user.value">
                {{ user.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['user'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{action}}</button>
    </mat-card-actions>
  </mat-card>
</form>