<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>New Room</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Room" formControlName="Room">
            <mat-error *ngIf="addressForm.controls['Room'].hasError('required')">
              Room is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Seats" formControlName="Seats">
            <mat-error *ngIf="addressForm.controls['Seats'].hasError('required')">
              Seats is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Capacity" formControlName="Capacity">
            <mat-error *ngIf="addressForm.controls['Capacity'].hasError('required')">
              Capacity is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>