.shop-tickets-body {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.button-shop {
    margin: 15px 0;
    display: flex;
}

.button-shop button {
    background: #c2185b;
}

tr {
    text-transform: capitalize;
}
