<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Shop">Shop Tickets</a>
      <a mat-list-item href="/Movies">Movies</a>
      <a mat-list-item href="/Users">Users</a>
      <a mat-list-item href="/Rooms">Rooms</a>
      <!-- <a mat-list-item href="/Login">Login</a> -->
      <!-- <a mat-list-item href="/Sales">Sales</a> -->
      <!-- <a mat-list-item href="/Administrative">Administrative</a> -->
      <!-- <a mat-list-item href="/Form">Form</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="left-side">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="tittle-menu">Cinema</span>
      </div>
      <ngx-avatars mat-button [matMenuTriggerFor]="menu" name="{{userName}}" bgColor="#FFFFFF" fgColor="#000000"></ngx-avatars>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut()">Log Out</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>